#  pip install -r requirements.txt
flask
flask_sqlalchemy
sqlalchemy_serializer
flask_restful
flask_migrate
flask_cors
faker
flask-bcrypt
flask_jwt_extended
Werkzeug
flask_socketio
flask_limiter
redis
twilio
python-dotenv
